@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100&family=Rubik+Vinyl&display=swap');

body{
  size: 40%;
}

h1 {
    font-family: 'Rubik Vinyl';
color: black;
font-size: 100px;
     text-align: center;
     padding-bottom: 1px;
}

img {
  display: block;
 margin-left: auto;
 margin-right: auto;
 margin-top: 0px;
  width: 400px; height: auto;

}
